@import url(normalize.css);

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}



/* -------------------- HEADINGS AND TYPE */

/* -------------------- LAYOUTS */

.layout-wide {
    background-color: blue;
    max-width: 1000px;
    Margin-left: auto;
    Margin-right: auto;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */

