@import url(normalize.css);

/* -------------------- FONTS/TYPEFACES */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* -------------------- VARIABLES */
/* -------------------- GLOBAL DEFAULTS */

body {
    background-color:#404C63    ;
    font-family: Arial, Helvetica, sans-serif; 

}

/* -------------------- HEADINGS AND TYPE */
 
h1 {
    font-family: 'Abril Fatface', cursive;
}
h2 { font-family: Arial, Helvetica, sans-serif
    ;}
/* -------------------- LAYOUTS */

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.layout-wide {
    background-color: white;
    max-width: 1000px;
    Margin-left: auto;
    Margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 800px){

.main-nav {
display: flex;
justify-content: space-between }

}
/* -------------------- HEADER */

header .layout-wide {
    text-align: center;

}

/* -------------------- CONTACT LINKS */

/* -------------------- NAVIGATION */



.main-nav {
    list-style: none;
    padding-left: 0%;
}

.main-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #404C63;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:1px solid #404C63;
    color: black;
}

.main-nav a:hover{
color:#404C63;
}
/* -------------------- FOOTER */

footer{
    text-align: center;
    color: white;
}


/* -------------------- MODULES */



/* 2 col grid*/

@media screen and (min-width: 800px) {
    .content-item2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    gap: 10px;
    }

}


/* 4 col grid gallery photos*/ 
.content-item3 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
}


.content-item4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
}
@media screen and (min-width: 800px){

    .content-item3 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.projects-list {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}

.projects-list2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.projects-list3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}

.projects-list4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

.projects-list5 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}